.site-main{
 margin: 12px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 304px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px;
    justify-content: center;
  }
  
  .item {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 24px;
    width: 304px;
    height: 200px;
  }
  
  .item-1-2 {
    width: 620px;
    grid-column: 1 / span 2;
  }
  
  .item-4 {
    height: 420px;
    grid-column: 3 / 4;
    grid-row: 1 / span 2;
  }

  .main__list{
    list-style: none;
    text-align: left;
    font-size: 16px;
    padding: 0 30px;
  }
  
  .main__list li{
    padding: 0 0 22px 0;
  }

  @media only screen and (max-width: 1280px) {
    .grid {
      grid-template-columns: repeat(3, 304px);
      grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 40px;
    }

    footer {
        height: 60px;
    }
}