.site-main {
    overflow: hidden;
}

.masonry-grid {
    display: flex;
    margin-left: -16px;
    width: 100%;
}

.masonry-grid-column {
    padding-left: 16px;
    /* gutter size */
    background-clip: padding-box;
}

.masonry-grid-item {
    margin-bottom: 16px;
    /* space between items */
    width: 304px;
    /* item width */
    height: 200px;
    /* item height */
    background-color: aqua;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

.masonry-grid-item--width2 {
    width: 608px;
    /* item width */
}

.masonry-grid-item--height2 {
    height: 400px;
    /* item height */
}