/* fira sans не смог добавить ai */
body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #f2edeb;
    height: 80px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

@media only screen and (max-width: 1440px) {
    header {
        height: 60px;
    }

    main {
        height: 500px;
    }

    footer {
        height: 80px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        height: 40px;
    }

    main {
        height: 300px;
    }

    footer {
        height: 60px;
    }
}