.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #f23deb;
  height: 80px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.site-logo {
  height: 50px;
  width: 150px;
  margin-right: 10px;
}


